.timer-wrapper {
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.input-wrapper input {
  min-width: 240px;
  padding: 8px 16px;
  border-radius: 4px;
  border: 1px solid #808080;
  font-size: 16px;
  letter-spacing: 0.04em;
}

.input-wrapper input:active {
  border: 1px solid #4e75ff;
}

.input-wrapper button {
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  padding: 8px 16px;
  border-color: transparent;
  border-radius: 8px;
  background-color: #4e75ff;
  color: #ffffff;
}

.input-wrapper button:disabled,
.input-wrapper button:disabled:hover,
.input-wrapper button:disabled:focus {
  background-color: #cfcfcf;
  color: #989898;
}

.input-wrapper button:hover,
.input-wrapper button:focus {
  background-color: #6c8cff;
}

.timer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 27px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.field .value {
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.04em;
}